.item-page {
	display: flex;

	.image {
		width: 40%;
		margin: 30px 20px;

		img {
			margin: 20px;
		}	
	}

	.info-button {
		display: flex;
		flex-direction: column;
		margin: 20px;

		.button {
			display: flex;
			justify-content: flex-start;
			margin: 20px 0px;
		}
	}
}